<header>
    <button><a href="/">Home</a></button>
    <button><a href="posts">Posts</a></button>
    <button><a href="add-post">New Post</a></button>
    <button><a href="contacts">Contacts</a></button>
</header>